<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title><%= title %></title>
  </head>
  <body>
    <h1><%= phrase %><%= ", #{name}" if name %></h1>
    <% unless artists.empty? %>
      <section>
        <%= video %>
        <h3>Artists:</h3>
        <ul>
          <% artists.each do |artist| %>
            <li><%= artist  %></li>
          <% end %>
        </ul>
      </section>
    <% end %>
    <h3>Stuff:</h3>
    <ul id='stuff'>
      <% list.each do |item| %>
        <li><%= item %></li>
      <% end %>
    </ul>
  </body>
</html>
